  <!-- # festival show -->


<div class="container">


  <div class="row">
      <!-- Column for name, description .. -->
    <div class="col-md-7">
    <h2> <%= @festival.name %></h2>
    <h3>Description</h3>
    <%= @festival.description %>
    <h3>Line Up</h3>


    #Hier moet de lineup komen!!

    </div>
    <!-- Column for time, location .. -->
    <div class="col-md-2">
      <h4> <%= @festival.start_date %></h4>
      <h4> <%= @festival.end_date %></h4>
      <h4> <%= @festival.location %></h4>
      <h4> <%= @festival.location %></h4>
    </div>

    <!-- Column for time, location .. -->
    <div class="col-md-3">
      <div class="right-photo">
        <a href="#"><p>Hier komt de google map</p></a>
      </div>
      <div class="right-photo">
        <a href=#><p> <%= @festival.photo %></p></a>
      </div>
  </div>
</div>
